@model KayanIntern.ViewModels.DashboardVM
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashboardLayout";
    var FirstName = User.FindFirst("FirstName")?.Value;
}
<h3>Welcome @FirstName!</h3>