@{
    ViewData["Title"] = "Home Page";
}

<header class="header-2">
    <div class="page-header min-vh-75 relative"
         style="background-image: url('./assets/img/city-profile.jpg')">
        <span class="mask"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-light pt-3 mt-n5">KayanIntern</h1>
                    <p class="lead text-light mt-3">
                        Revolutionizing Intern Training and Development <br />
                        Cultivating Talent, Nurturing Success.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>